.text-indigo-500 {
  color: #6610f2
  !important; 
}

.btn-hover-effect {
  color: #6610f2 !important; /* Warna default */
  transition: color 0.3s ease-in-out;
  border: none !important;
}

.btn-hover-effect:hover {
  color: white !important; /* Warna berubah saat hover */
}

.night-sky {
  /* background: linear-gradient(to bottom, #000000, #0a0a1a); Gradasi hitam kebiruan */
  background: #000000; /* Atau warna lain sesuai keinginan */

  position: relative;
  overflow: hidden;
}

.star {
  position: absolute;
  background-color: white;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  opacity: 0.8;
}

html {
  scroll-behavior: smooth;
}

.star:nth-child(1) { top: 5%; left: 10%; }
.star:nth-child(2) { top: 10%; left: 30%; }
.star:nth-child(3) { top: 15%; left: 50%; }
.star:nth-child(4) { top: 20%; left: 80%; }
.star:nth-child(5) { top: 25%; left: 20%; }
.star:nth-child(6) { top: 30%; left: 60%; }
.star:nth-child(7) { top: 35%; left: 90%; }
.star:nth-child(8) { top: 40%; left: 5%; }
.star:nth-child(9) { top: 45%; left: 40%; }
.star:nth-child(10) { top: 50%; left: 70%; }
.star:nth-child(11) { top: 55%; left: 15%; }
.star:nth-child(13) { top: 65%; left: 85%; }
.star:nth-child(14) { top: 70%; left: 30%; }
.star:nth-child(15) { top: 75%; left: 75%; }
.star:nth-child(16) { top: 80%; left: 10%; }
.star:nth-child(17) { top: 85%; left: 55%; }
.star:nth-child(18) { top: 90%; left: 95%; }
.star:nth-child(19) { top: 95%; left: 35%; }
.star:nth-child(20) { top: 98%; left: 65%; }

.form-control,
.form-select {
  background-color: #141414 !important;
  color: #ffffff;
  border: 1px solid #141414 !important; /* border disamakan */
  border-radius: 5px;
}

.form-control:focus,
.form-select:focus {
  background-color: #141414;
  border-color: #141414;
  box-shadow: none !important;
  color: #ffffff;
}


.form-control::placeholder {
  color: #aaa;
}

.form-select option {
  background-color: #141414;
  color: #fff;
}


.info-box {
  padding: 8px;
  border-radius: 8px;
  max-width: 600px;
  text-align: center;
  font-size: 14px;
  color: #fff;
}
